# Binary Classification normal pythonic way and scikit-learn method

Several regression and binary classification algorithms are available in scikit-learn. In this part I am first
classifying the quality of wine using map function (threshold) of python then I used LabelBinarizer preprocessing
function of scikit-learn method to classify wine either 0 or 1.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('/Users/sundarpandey/Documents/Analyticalvidhya/winne.xlsx', skiprows=1)
df

,Unnamed: 0,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,Alcohol,quality,Value
0,NaN,0,7.4,0.70,0.00,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
1,NaN,1,7.8,0.88,0.00,2.6,0.098,25,67,0.9968,3.20,0.68,4.8,5
2,NaN,2,7.8,0.76,0.04,2.3,0.092,15,54,0.9970,3.26,0.65,9.8,5
3,NaN,3,11.2,0.28,0.56,1.9,0.075,17,60,0.9980,3.16,0.58,3.8,6
4,NaN,4,7.4,0.70,0.00,1.9,0.076,11,34,0.9978,3.51,0.56,9.7,7

In [3]:
df.columns

Index(['Unnamed: 0', 'fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'Alcohol',
       'quality', 'Value'],
      dtype='object')

In [4]:
df1 = df[['fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'Alcohol',
       'quality', 'Value']]
df1

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,Alcohol,quality,Value
0,0,7.4,0.70,0.00,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
1,1,7.8,0.88,0.00,2.6,0.098,25,67,0.9968,3.20,0.68,4.8,5
2,2,7.8,0.76,0.04,2.3,0.092,15,54,0.9970,3.26,0.65,9.8,5
3,3,11.2,0.28,0.56,1.9,0.075,17,60,0.9980,3.16,0.58,3.8,6
4,4,7.4,0.70,0.00,1.9,0.076,11,34,0.9978,3.51,0.56,9.7,7

# Pythonic way
Here 'Yes' could be replace with 1 and 'No' with 0

In [5]:
df1['quality']= df1['quality'].map(lambda x:  'Yes' if x <= 5 else 'No')
df1

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,Alcohol,quality,Value
0,0,7.4,0.70,0.00,1.9,0.076,11,34,0.9978,3.51,0.56,No,5
1,1,7.8,0.88,0.00,2.6,0.098,25,67,0.9968,3.20,0.68,Yes,5
2,2,7.8,0.76,0.04,2.3,0.092,15,54,0.9970,3.26,0.65,No,5
3,3,11.2,0.28,0.56,1.9,0.075,17,60,0.9980,3.16,0.58,Yes,6
4,4,7.4,0.70,0.00,1.9,0.076,11,34,0.9978,3.51,0.56,No,7

In [6]:
df1['quality']

0     No
1    Yes
2     No
3    Yes
4     No
Name: quality, dtype: object

# Scikit-learn way

In [7]:
from sklearn import preprocessing
lb = preprocessing.LabelBinarizer()

In [8]:
lb.fit(df1['quality'])

LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)

In [9]:
df1['quality']= lb.transform(df1['quality'])
df1

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,Alcohol,quality,Value
0,0,7.4,0.70,0.00,1.9,0.076,11,34,0.9978,3.51,0.56,0,5
1,1,7.8,0.88,0.00,2.6,0.098,25,67,0.9968,3.20,0.68,1,5
2,2,7.8,0.76,0.04,2.3,0.092,15,54,0.9970,3.26,0.65,0,5
3,3,11.2,0.28,0.56,1.9,0.075,17,60,0.9980,3.16,0.58,1,6
4,4,7.4,0.70,0.00,1.9,0.076,11,34,0.9978,3.51,0.56,0,7